<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>

<body>

    <div class="form-login-container">

        <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre"></a>

        <form action="/login">

            <h1>Login</h1>

            <div class="login-topBox">
                <label for="uname"></label>
                <input type="text" id="uname" name="username" placeholder="User name">

                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>

            <div class="login-buttonBox">
                <input type="submit" value="Submit">
            </div>

        </form>

    </div>

</body>

</html>