:root {
    --grey: #666666;
    --lightgrey: #ebebeb;
    --blue: #03264C;
    --lightblue: #1259c3;
    --yellow: #EAC926;
    --green:  #39b54a;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: grey;
}