:root {
    --grey: #666666;
    --lightgrey: #ebebeb;
    --blue: #03264C;
    --lightblue: #1259c3;
    --yellow: #EAC926;
    --green:  #39b54a;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

main section article i {
    display: block; 
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px; 
}