 /* HEADER */
.home-header {
    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    padding-bottom: 15px;
    width: 100%;
}

.home-header-container {
    display: flex;
    flex-direction: row;
    margin: 0.5em 1em;
    width: 90%;
    gap: 0.5em;
}

.logo-container {
    width: 50%;
    margin-top: 1em;
}

.logo-container img {
    width: 9em;
}

.searchbar-container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-top: 0.5em;
    width: 50%;
}

.searchbar-container input {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px 0 0 5px;
    width: 130px;
    border-radius: 10px;
}

.lupa {
    position: absolute;
    right: 10px;
    top: calc(60% - 5.5px);
    cursor: pointer;
}

.home-header p {
    text-align: center;
    font-size: 12px;
    margin: 0 0 1em 0;
}

.home-header-nav {
    display: none;
}

.hamburger-button {
    background-color: var(--blue);
    color: white;
    display: block;
    width: 28px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    margin: auto;
    padding: 5px 0 3px 0;
}

/* MAIN */
.home-main {
    background-color: var(--lightgrey); 
}

.main-banner {
    width: 100%;
}

.home-main-container {
    background-color: var(--lightgrey);
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 5px;
}

.main-title {
    font-size: 24px;
}

.main-product-image {
    width: 100%;
    margin-bottom: 0.1px;
}

.article-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 10px;
    flex-basis: 100%;
}

.priceBox {
    display: flex;
    flex-direction: column;
    border-top: solid 1px;
    border-color: #ebebeb;
    margin: 15px 0 0 0;
    padding: 10px;
    position: relative;
}

.pricesContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
}

.prices {
    font-size: 18px;
    flex-basis: 30%;
}

.discount {
    font-size: 14px;
    color: var(--green);
    flex-basis: 70%;
}

.description {
    display: none;
}

/* FOOTER */
.home-footer {
    background-color: var(--lightgrey);
}

.home-footer-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0 5px 0 5px;
    text-align: center;
    align-items: center;
    padding-top: 40px;
    border-bottom: solid 10px var(--lightgrey);
}

.footerIcons {
    color: var(--blue);
    margin: 10px 0 10px 0;
}

.home-footer-container h5 {
    margin-bottom: 0.5em;
}

.text {
    font-size: 14px;
    width: 175px;
    margin: 0 0 25px 0;
}

.footer-topBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-bottomBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.footer-copyright {
    font-size: 10px;
    margin-bottom: 5px;
}

/* VIEWPORT TABLET */
@media (min-width: 768px) {
    /* HEADER */
.hamburger-button {
    display: none;
}

.superbox {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0.5em;
}

.home-header-container {
    align-items: center;
    gap: 1em;
    margin: 0;
}

.logo-container img {
    width: 12em;
}

.searchbar-container {
    flex-basis: none;
    width: 12em;
}

.input {
    margin: 0 0 0 10px;
}


.frase-container {
    display: flex;
    flex-basis: none;
    flex-direction: row;
    align-items: center;
}

.frase-container p {
    width: 20em;
    margin-top: 1.5em;
}

.home-header-nav {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between
}

.home-header-nav-one {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.home-header-nav-two{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-right: 40px;
}

    /* MAIN */
.home-main-container {
    margin: 0 40px 0 40px;
}

.main-title {
    text-align: left;
}

.section-box-top {
    display: flex;
    flex-direction: column;
}

.section-box-bottom {
    display: flex;
    flex-direction: column;
}

.article-card {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}    

.articles {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.description {
    display: block;
    margin-bottom: 3px ;
}
    /* FOOTER */
.home-footer-container {
    margin: 0;
}    

.footer-topBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    align-items: stretch;
}

.home-footer-container h5 {
    font-size: 14px;
}

.text {
    font-size: 14px;
}

.footer-bottomBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
}

/* VIEWPORT DESKTOP */
@media (min-width:1024px) {
/* HEADER */
.superbox {
    justify-content: space-between;
    margin: 1em 6em 1em 2.5em;
}

.logo-container img {
    width: 16em;
}

.searchbar-container {
    width: 20em;
}

.input {
    width: 200px;
}

.frase-container p {
    width: 20em;
    margin-top: 1.5em;
}
/* MAIN */
.section-box-top {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.articles {
    gap: 1em;
}

.section-box-bottom {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
/* FOOTER */
.footer-topBox {
    margin-bottom: 1em;
}

.home-footer-container h5 {
    font-size: 18px;
}

.text {
    font-size: 16px;
    margin: 0 0 0 1.5em;
}

.footer-copyright {
    font-size: 14px;
}
}

