 /* MOBILE */
 /* HEADER */
.home-header {
    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    padding-bottom: 15px;
}

.logo {
    margin-top: 20px;
    margin-left: 25px;
    width: 110px;    
}

.searchbar-container {
    display: flex;
    flex-direction: row;
}

.input {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 15px;
    width: 160px;
}

.searchButton {
    max-width: 15px;
    max-height: 20px;
    margin: 10px 0 0 3px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.lupa {
    position: absolute;
    margin: 6.5px;
}

.home-header p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
}

.home-header-nav {
    display: none;
}

.hamburger-button {
    background-color: var(--blue);
    color: white;
    display: block;
    width: 28px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    margin: auto;
    padding: 5px 0 3px 0;
}

/* MAIN */
.home-main {
    background-color: var(--lightgrey); 
}

.main-banner {
    width: 100%;
}

.home-main-container {
    background-color: var(--lightgrey);
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 5px;
}

.main-title {
    font-size: 24px;
}

.main-product-image {
    width: 100%;
    margin-bottom: 0.1px;
}

.article-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.priceBox {
    display: flex;
    flex-direction: column;
    border-top: solid 1px;
    border-color: #ebebeb;
    margin: 15px 0 0 0;
    padding: 10px;
}

.truckIcon {
    color: var(--green);
    background-color: #ffffff;
    border: solid 1px var(--green);
    border-radius: 26px;
    display: block;
    margin: auto auto auto 0;
    padding: 10px;
}

.prices {
    font-size: 18px;
    margin: 0;
}

.discount {
    font-size: 16px;
    color: var(--green);
    margin: 0;
}

.description {
    display: none;
}

/* FOOTER */
.home-footer {
    background-color: var(--lightgrey);
}

.home-footer-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0 5px 0 5px;
    text-align: center;
    align-items: center;
    padding-top: 40px;
    border-bottom: solid 10px var(--lightgrey);
}

.footerIcons {
    color: var(--blue);
    size: 2em;
    margin: 10px 0 10px 0;
}

.home-footer-container h6 {
    margin-bottom: 0;
}

.text {
    font-size: 9px;
    width: 175px;
    margin: 0 0 25px 0;
}

.footer-topBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-bottomBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.footer-copyright {
    font-size: 10px;
    margin-bottom: 5px;
}

/* VIEWPORT TABLET */
@media (min-width: 768px) {
    /* HEADER */
.hamburger-button {
    display: none;
}

.home-header-nav {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.home-header-nav-one, .home-header-nav-two {
    margin: 0 0 0 10px;
    padding-left: 0
}
    /* MAIN */
.home-main-container {
    margin: 0 20px 0 20px;
}

.main-title {
    text-align: center;
}

.article-card {
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
}    

.description {
    display: block;
    margin-bottom: 3px ;
}
    /* FOOTER */
.home-footer-container {
    margin: 0 20px 0 20px;
}    

.footer-topBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

.footer-bottomBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
}

/* VIEWPORT DESKTOP */
/* HEADER */
/* MAIN */
/* FOOTER */
